<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".TodoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDo"
        tools:targetApi="31">
        <activity
            android:name=".presentation.screens.QRGeneratorActivity"
            android:exported="false"
            android:label="@string/title_activity_qrgenerator"
            android:theme="@style/Theme.ToDo" />
        <activity
            android:name=".presentation.screens.QRScanActivity"
            android:exported="false"
            android:label="@string/title_activity_qrscan"
            android:theme="@style/Theme.ToDo" />
        <activity
            android:name=".presentation.screens.AddNotesActivity"
            android:exported="false"
            android:label="@string/title_activity_add_notes"
            android:theme="@style/Theme.ToDo" />
        <activity
            android:name=".presentation.screens.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ToDo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>